@font-face {
    font-family: "Corazones";
    src: url("Lovely\ Balloon.ttf");
}

@font-face {
    font-family: "Text-T";
    src: url("Cartita.ttf");
}

body{
    background-color: rgb(192, 151, 230);
}

.Navbar{
    background-color: rgb(105, 44, 124);
    position: fixed;
    margin-left: 25px;
    margin-top: 25px;
    width: 94%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'Corazones';
}

.Nav_Button{
    color: aliceblue;   
    text-decoration: none;
    font-size: 18px;
}

.Nav_Button:hover{
    color: rgb(202, 138, 194);
    transition: 1s;
}

.Texto{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Info{
    margin-top: 25px;
    background-color:rgba(255, 223, 255, 0.747);
    padding: 25px;
    border-radius: 0 0 0 25px;
}

.Img{
    width: 600px;
    margin-left: -100px;
}

.Img2{
    width: 500px;
    margin-left: 20px;
    margin-top: 50px;
}

.Linea{
    margin-top: 80px;
    width: 100%;
    height: 1px;
    border-radius: 50%;
    background-color: #6b6a6a;
}

footer{
    margin-top: 60px;
    background-color: rgb(105, 44, 124);
    color: white;
    padding: 30px;
    font-family: 'Corazones';
}